﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserMaster.cshtml";
}

<div class="container">
    <div class="ad-top">
    </div>

    <div class="row">
        <div class="quiz-main" data-quiz="{&quot;id&quot;:&quot;59a7b8f47b308d001dfecf15&quot;,&quot;options&quot;:{}}">
            <div class="ibox quiz-box">
                <div class="splash-box">
                    <h1 class="max-height-lines quiz-title" data-max-lines="3">Which 25 names love you?</h1>
                    <div class="start-page-content">
                        <div style="text-align:center" class="quiz-start-img-wrapper">
                            <img class="quiz-start-img" src="http://images.quizzstar.com/uploads/quiz/start_image/59a7b8f47b308d001dfecf15/medium_29c0ec85-5506-421f-b96f-385cdfa63e6b.png" alt="Medium 29c0ec85 5506 421f b96f 385cdfa63e6b">
                        </div>
                        <div class="login-cta" style="white-space:nowrap;">
                            <span class="text-autofit">Please login with Facebook to see your result</span>
                        </div>
                        <div class="button-wrapper">
                            <a class="button start narrow-font text-autofit" href="#"><img class="logo-f" src="/images/logo-f.png" alt="Logo f">Login with Facebook</a>
                        </div>

                        <div class="description">
                            <div class="description-inner">
                                <p>
                                    You've got many, many, friends - but which ones really love you?<br>
                                    Let's find out now!
                                </p>

                                <span class="show-more-toggle">Show more</span>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="ad-bottom">
                </div>

                <!-- <div class="ads-taboola" style="padding: 0 5px;">
                  <div id="taboola-below-article-thumbnails"></div>
                  <script type="text/javascript">
                    window._taboola = window._taboola || [];
                    _taboola.push({
                      mode: 'thumbnails-a',
                      container: 'taboola-below-article-thumbnails',
                      placement: "taboola_desktop Below Article Thumbnails",
                      target_type: 'mix'
                    });
                  </script>
                </div>
                 -->
                <!-- <div id="taboola-organic-below-article-thumbnails"></div>
                <script type="text/javascript">
                  window._taboola = window._taboola || [];
                  _taboola.push({
                    mode: 'organic-thumbnails-b',
                    container: 'taboola-organic-below-article-thumbnails',
                    placement: 'Organic Desktop Below Article Thumbnails',
                    target_type: 'mix'
                  });
                </script>
                 -->
            </div>
        </div>
        <div class="sidebar" style="max-height: 447px;">
            <!-- <div class="ad-right">
            </div>
             -->
            <div id="sidebar-related-quizzes">

                <div class="quiz-holder">
                    <div class="ibox quiz-listing hover-highlight">
                        <a href="#">
                            <div class="wide-img-wrapper">
                                <div class="wide-img">
                                    <img data-original="http://images.quizzstar.com/uploads/quiz/image/59a657ca16418c0081bfb4b4/medium_f1fa8649-8d69-4e48-81db-ac3caa08a587.png" class="lazy" src="http://images.quizzstar.com/uploads/quiz/image/59a657ca16418c0081bfb4b4/medium_f1fa8649-8d69-4e48-81db-ac3caa08a587.png" style="display: inline;">
                                </div>
                            </div>
                            <p>What are people saying about you behind your back?</p>
                        </a>
                    </div>
                </div>



                <div class="quiz-holder">
                    <div class="ibox quiz-listing hover-highlight">
                        <a href="#">
                            <div class="wide-img-wrapper">
                                <div class="wide-img">
                                    <img data-original="http://images.quizzstar.com/uploads/quiz/image/59a9a740a5e5f00011c7cff0/medium_86463ba9-ea47-45fb-86df-32875abb4a59.png" class="lazy" src="http://images.quizzstar.com/uploads/quiz/image/59a9a740a5e5f00011c7cff0/medium_86463ba9-ea47-45fb-86df-32875abb4a59.png" style="display: inline;">
                                </div>
                            </div>
                            <p>Who will you marry?</p>
                        </a>
                    </div>
                </div>



                <div class="quiz-holder">
                    <div class="ibox quiz-listing hover-highlight">
                        <a href="#">
                            <div class="wide-img-wrapper">
                                <div class="wide-img">
                                    <img data-original="http://images.quizzstar.com/uploads/quiz/image/59a9aadf8fa6d9000def4373/medium_9d434251-34a8-4561-a23f-78c6102153ca.png" class="lazy" src="http://images.quizzstar.com/uploads/quiz/image/59a9aadf8fa6d9000def4373/medium_9d434251-34a8-4561-a23f-78c6102153ca.png" style="display: inline;">
                                </div>
                            </div>
                            <p>Which 10 names have changed your life?</p>
                        </a>
                    </div>
                </div>

                <div class="fade-end"></div>
            </div>
        </div>
    </div>

    <div id="bottom-related-quizzes" class="row">

        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class="wide-img-wrapper">
                        <div class="wide-img">
                            <img data-original="http://images.quizzstar.com/uploads/quiz/image/59a66916045cdc00455827be/medium_c2cf78b8-4f28-45a9-b817-6fabf294e9ff.png" class="lazy" src="http://images.quizzstar.com/uploads/quiz/image/59a66916045cdc00455827be/medium_c2cf78b8-4f28-45a9-b817-6fabf294e9ff.png" style="display: inline;">
                        </div>
                    </div>
                    <p>Who loves you very much?</p>
                </a>
            </div>
        </div>



        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class="wide-img-wrapper">
                        <div class="wide-img">
                            <img data-original="http://images.quizzstar.com/uploads/quiz/image/59a9a8dfa5e5f0000dc7d21e/medium_7490ff69-b94c-4e30-93ec-fb9eead6a6ce.png" class="lazy" src="http://images.quizzstar.com/uploads/quiz/image/59a9a8dfa5e5f0000dc7d21e/medium_7490ff69-b94c-4e30-93ec-fb9eead6a6ce.png" style="display: inline;">
                        </div>
                    </div>
                    <p>When will you meet the love of your life?</p>
                </a>
            </div>
        </div>



        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class="wide-img-wrapper">
                        <div class="wide-img">
                            <img data-original="http://images.quizzstar.com/uploads/quiz/image/59acfecab9f796001dc53b11/medium_2555c4df-a413-406d-a373-0ee3ca0b4919.png" class="lazy" src="http://images.quizzstar.com/uploads/quiz/image/59acfecab9f796001dc53b11/medium_2555c4df-a413-406d-a373-0ee3ca0b4919.png" style="display: inline;">
                        </div>
                    </div>
                    <p>Can we guess your destiny?</p>
                </a>
            </div>
        </div>



        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class="wide-img-wrapper">
                        <div class="wide-img">
                            <img data-original="http://images.quizzstar.com/uploads/quiz/image/59437e02ce65d30036c4b4a4/medium_79cade05-e4c3-4a14-a4dd-1d80244cf9fc.png" class="lazy" src="http://images.quizzstar.com/uploads/quiz/image/59437e02ce65d30036c4b4a4/medium_79cade05-e4c3-4a14-a4dd-1d80244cf9fc.png" style="display: inline;">
                        </div>
                    </div>
                    <p>Which job should you have based on your facial features?</p>
                </a>
            </div>
        </div>



        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class="wide-img-wrapper">
                        <div class="wide-img">
                            <img data-original="http://images.quizzstar.com/uploads/quiz/image/59a64f8923819a0015e73669/medium_5b1e825c-2fd4-4c61-a722-11af5e55ea7b.png" class="lazy" src="http://images.quizzstar.com/uploads/quiz/image/59a64f8923819a0015e73669/medium_5b1e825c-2fd4-4c61-a722-11af5e55ea7b.png" style="display: inline;">
                        </div>
                    </div>
                    <p>Who loves you 100%?</p>
                </a>
            </div>
        </div>



        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class="wide-img-wrapper">
                        <div class="wide-img">
                            <img data-original="http://images.quizzstar.com/uploads/quiz/image/599fcc2063afa20065325232/medium_f1e853fb-8658-4ba8-81a1-e4e9265f625a.png" class="lazy" src="http://images.quizzstar.com/uploads/quiz/image/599fcc2063afa20065325232/medium_f1e853fb-8658-4ba8-81a1-e4e9265f625a.png" style="display: inline;">
                        </div>
                    </div>
                    <p>What is written about you?</p>
                </a>
            </div>
        </div>
    </div>
</div>

