﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserMaster.cshtml";
}

<div class="container">
    <div class="row">
        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="@Url.Action("Details")">
                    <div class=" wide-img-wrapper"><div class="wide-img"><img src="http://images.quizzstar.com/uploads/quiz/image/59acfcf3a7c6d700238cb4b5/medium_4f140d16-937f-4dd7-87db-d15b99784689.png" alt="Medium 4f140d16 937f 4dd7 87db d15b99784689"></div></div>                    
                    <p>Who are your 21 A-List friends?</p>
                </a>
            </div>
        </div>

        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class=" wide-img-wrapper"><div class="wide-img"><img src="http://images.quizzstar.com/uploads/quiz/image/59a9afaaa5e5f00009c7e525/medium_a04bf5fd-f568-44ba-a153-96f0f9fb1963.png" alt="Medium a04bf5fd f568 44ba a153 96f0f9fb1963"></div></div>
                    <!--          <div class="button-wrapper">
                              <div class="button" href="/apps/59a9afaaa5e5f00009c7e525/">Play Now</div>

                          </div>-->
                    <p>MISSING! Your friends' Missing Person's Report about you!</p>
                </a>
            </div>
        </div>

        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class=" wide-img-wrapper"><div class="wide-img"><img src="http://images.quizzstar.com/uploads/quiz/image/5989e992524b68009cec594d/medium_72285261-7406-459e-acb5-e18bb8ce6c23.png" alt="Medium 72285261 7406 459e acb5 e18bb8ce6c23"></div></div>
                    <!--          <div class="button-wrapper">
                              <div class="button" href="/apps/5989e992524b68009cec594d/">Play Now</div>

                          </div>-->
                    <p>If you had a price-tag, how much would it be?</p>
                </a>
            </div>
        </div> 
        
        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class=" wide-img-wrapper"><div class="wide-img"><img src="http://images.quizzstar.com/uploads/quiz/image/59a7b8f47b308d001dfecf15/medium_712db4e5-5b9e-4ff5-b9ba-bde5ee760793.png" alt="Medium 712db4e5 5b9e 4ff5 b9ba bde5ee760793"></div></div>
                    <!--          <div class="button-wrapper">
                                  <div class="button" href="/apps/59a7b8f47b308d001dfecf15/">Play Now</div>

                              </div>-->
                    <p>Which 25 names love you?</p>
                </a>
            </div>
        </div>

        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class=" wide-img-wrapper"><div class="wide-img"><img src="http://images.quizzstar.com/uploads/quiz/image/59a9a740a5e5f00011c7cff0/medium_86463ba9-ea47-45fb-86df-32875abb4a59.png" alt="Medium 86463ba9 ea47 45fb 86df 32875abb4a59"></div></div>
                    <!--          <div class="button-wrapper">
                                  <div class="button" href="/apps/59a9a740a5e5f00011c7cff0/">Play Now</div>

                              </div>-->
                    <p>Who will you marry?</p>
                </a>
            </div>
        </div>

        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class=" wide-img-wrapper"><div class="wide-img"><img src="http://images.quizzstar.com/uploads/quiz/image/59a9aadf8fa6d9000def4373/medium_9d434251-34a8-4561-a23f-78c6102153ca.png" alt="Medium 9d434251 34a8 4561 a23f 78c6102153ca"></div></div>
                    <!--          <div class="button-wrapper">
                                  <div class="button" href="/apps/59a9aadf8fa6d9000def4373/">Play Now</div>

                              </div>-->
                    <p>Which 10 names have changed your life?</p>
                </a>
            </div>
        </div>

        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class=" wide-img-wrapper"><div class="wide-img"><img src="http://images.quizzstar.com/uploads/quiz/image/59a9a8dfa5e5f0000dc7d21e/medium_7490ff69-b94c-4e30-93ec-fb9eead6a6ce.png" alt="Medium 7490ff69 b94c 4e30 93ec fb9eead6a6ce"></div></div>
                    <!--          <div class="button-wrapper">
                                  <div class="button" href="/apps/59a9a8dfa5e5f0000dc7d21e/">Play Now</div>

                              </div>-->
                    <p>When will you meet the love of your life?</p>
                </a>
            </div>
        </div>

        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class=" wide-img-wrapper"><div class="wide-img"><img src="http://images.quizzstar.com/uploads/quiz/image/59a657ca16418c0081bfb4b4/medium_f1fa8649-8d69-4e48-81db-ac3caa08a587.png" alt="Medium f1fa8649 8d69 4e48 81db ac3caa08a587"></div></div>
                    <!--          <div class="button-wrapper">
                                  <div class="button" href="/apps/59a657ca16418c0081bfb4b4/">Play Now</div>

                              </div>-->
                    <p>What are people saying about you behind your back?</p>
                </a>
            </div>
        </div>

        <div class="quiz-holder">
            <div class="ibox quiz-listing hover-highlight">
                <a href="#">
                    <div class=" wide-img-wrapper"><div class="wide-img"><img src="http://images.quizzstar.com/uploads/quiz/image/59acfecab9f796001dc53b11/medium_2555c4df-a413-406d-a373-0ee3ca0b4919.png" alt="Medium 2555c4df a413 406d a373 0ee3ca0b4919"></div></div>
                    <!--          <div class="button-wrapper">
                                  <div class="button" href="/apps/59acfecab9f796001dc53b11/">Play Now</div>

                              </div>-->
                    <p>Can we guess your destiny?</p>
                </a>
            </div>
        </div>

     
    </div>
</div>

