﻿@model Quiz4Me.Areas.Admin.Models.LogInViewModel
@{
    ViewBag.Title = "LogIn";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App title -->
    <title>Flacto - Responsive Admin Dashboard Template</title>

    <!-- App CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" />
    
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.min.js"></script>

</head>

<body class="widescreen">

    <div class="text-center logo-alt-box">
        <a href="index.html" class="logo"><span>Flac<span>to</span></span></a>
        <h5 class="text-muted m-t-0">Responsive Admin Dashboard</h5>
    </div>

    <div class="wrapper-page">

        <div class="m-t-30 card-box">
            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
            </div>
            <div class="panel-body">                
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal m-t-10" }))
                    {
                        @Html.ValidationMessage("error")

                        <div class="form-group ">
                            <div class="col-xs-12">
                                @Html.TextBoxFor(x => x.UserName, new { placeholder = "Username", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                @Html.TextBoxFor(x => x.Password, new { placeholder = "Password", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light text-uppercase" type="submit">Log In</button>
                            </div>
                        </div>

                        <div class="form-group m-t-30 m-b-0">
                            <div class="col-sm-12">
                                <a href="page-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                            </div>
                        </div>
                    }
            </div>
        </div>
        <!-- end card-box -->

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">Don't have an account? <a href="page-register.html" class="text-primary m-l-5"><b>Sign Up</b></a></p>
            </div>
        </div>

    </div>
    <!-- end wrapper page -->




    <script>
            var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="~/Content/Scripts/jquery.min.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/detect.js"></script>
    <script src="~/Content/Scripts/fastclick.js"></script>
    <script src="~/Content/Scripts/jquery.slimscroll.js"></script>
    <script src="~/Content/Scripts/jquery.blockUI.js"></script>
    <script src="~/Content/Scripts/waves.js"></script>
    <script src="~/Content/Scripts/wow.min.js"></script>
    <script src="~/Content/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Content/Scripts/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="~/Content/Scripts/jquery.core.js"></script>
    <script src="~/Content/Scripts/jquery.app.js"></script>
    <script src="~/Content/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>



