﻿
<div class="navbar" id="main">
    <div class="container">
        <a class="navbar-brand" href="/"><div id="logo"></div></a>
        <span class="fb-like-wrapper">
            <iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/quizzstar/&amp;width=96&amp;layout=button&amp;action=like&amp;size=small&amp;show_faces=false&amp;share=false&amp;height=65&amp;appId=886518721424649&amp;locale=en_US" width="96" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        </span>
        <div class="dropdown language-ddl ">
            <button class="dropbtn">English</button>
            <div class="dropdown-content">
                <a href="#">English</a>
                <a href="#">Español</a>
                <a href="#">Português</a>
                <a href="#">Français</a>
                <a href="#">Deutsch</a>
                <a href="#">Italiano</a>
                <a href="#">Hrvatski</a>
                <a href="#">Magyar</a>
                <a href="#">Polski</a>
                <a href="#">Român</a>
            </div>
        </div>
    </div>
</div>

<div class="navbar" id="categories">
    <div class="container category-container">
        <span class="category"><a href="#">Fortune</a></span>
        <span class="category"><a href="#">Personality</a></span>
        <span class="category"><a href="#">Life &amp; Friends</a></span>
        <span class="category"><a href="#">Love</a></span>
        <span class="category"><a href="#">Funny</a></span>
        <span class="category"><a href="#">Face it!</a></span>
    </div>
</div>